{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    <main role="main" class="container-fluid d-flex h-100 justify-content-center align-items-center p-0" style="margin-top: 20px">
        <div class="container-fluid">
          <h1 class="text-center">Hello, {{ current_user.username }}!</h1>
          <div class="row align-items-center" style="margin-left: 20px">
            <div class="row align-items-center">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                  <a href="{{ url_for('change_username') }}">Change Username</a>
                </button>
            </div>
            <div class="row align-items-center">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                  <a href="{{ url_for('change_password') }}">Change Password</a>
                </button>
            </div>
            <div class="row align-items-center">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                  <a href="{{ url_for('change_email') }}">Change Email</a>
                </button>
            </div>
          </div>
        </div>
    </main>
{% endblock %}
